<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>791527872979-9hc4pr17ie2audg7uhukhrogegrt8fe8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.791527872979-9hc4pr17ie2audg7uhukhrogegrt8fe8</string>
	<key>API_KEY</key>
	<string>AIzaSyBe_MFywGrHq91Q9EuFQz4fzw2IHxnwNlM</string>
	<key>GCM_SENDER_ID</key>
	<string>791527872979</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.invertase.meuapp</string>
	<key>PROJECT_ID</key>
	<string>meuapp-79f63</string>
	<key>STORAGE_BUCKET</key>
	<string>meuapp-79f63.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:791527872979:ios:00b9e3762eb4268a</string>
	<key>DATABASE_URL</key>
	<string>https://meuapp-79f63.firebaseio.com</string>
</dict>
</plist>